.user-form {
  background-color: #f3f3f327;
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  max-width: 450px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.input-group div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.input-group input {
  padding: 8px 16px;
  font-size: 1em;
  border-radius: 4px;
  width: 100%;
}

.input-group button {
  margin-top: 32px;
  padding: 8px 16px;
  font-size: 1em;
  border: none;
  background: rgba(113, 18, 234, 0.5);
  color: white;
  width: 100%;
  border-radius: 4px;
}

.input-group,
.input-group div {
  width: 90%;
  align-items: center;
}

.input-group div label {
  align-self: flex-start;
}

.logo img {
  width: 72px;
}

.error {
  color: red;
}