/* The switch - the box around the slider */
.switch-container {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 32px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 6px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    top: 4px;
    left: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 6px;
  }
  
  .switch input:checked + .slider {
    background-color: #11c3ea;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #11c3ea;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  