.card-border {
    border-left-width: 5px;
    border-left-style: solid;
    border-image: linear-gradient(#78e4ff, #ff48fa) 1;
}
.remove {
    border-style: none;   
    margin: 2px;
    background-color: transparent;
}
