.main {
  min-height: 80vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  overflow: hidden;

}

.dropbtn {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: #ddd;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.active {
  display: block !important;
}

.footer a {
  color: inherit;
}