.card {
  width: 80%;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  margin: 0 auto;
  margin-top: 5%;
}

.card-header {
  height: 40%;
  background-color: #1b1620;
  border-radius: 6px 6px 0px 0px;
  padding: 12px 24px;
  text-align: center;
}

.card-body-active p {
  font-size: 1.1em;
}

.card-body {
  height: 60%;
  background-color: rgba(243, 243, 243, 0.15);
  border-radius: 0 0 6px 6px;
  display: block;
  padding: 6px 12px;
}

.card-body input {
  padding: 8px 12px;
  font-size: 1.1em;
  margin: 12px;
  border-radius: 6px;
  border: none;
}

.card-actions {
  display: flex;
  gap: 1em;
  margin: 18px auto;
  width: max-content;
}

.card-actions button {
  padding: 8px 24px;
  background-color: #11c3ea;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}

.answer-card .green,
.answer-card-innactive .green {
  color: rgb(35, 201, 35);
}

.answer-card .red,
.answer-card-innactive .red {
  color: rgb(224, 188, 60);
}

.answer-card-innactive {
  display: none;
}

@media screen and (max-width: 600px) {
  .card {
    height: 500px;
    width: 100%;
  }
}
.answer-input {
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid #151723;
    width: auto;
    display: block;
    transition: all 0.3s;
  }
