.card {
    width: 80%;
    height: 600px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.02);
    margin: 0 auto;
    margin-top: 5%;
}

.card-header {
    height: 40%;
    background-color: #1B1620;
    border-radius: 6px 6px 0px 0px;
    padding: 12px 24px;
    text-align: center;
}

.card-body {
    display: none;
}

.card-body-active p {
    font-size: 1.1em;
}

.card-body-active {
    height: 60%;
    background-color: rgba(243, 243, 243, 0.15);
    border-radius: 0 0 6px 6px;
    display: block;
    padding: 6px 12px;
}

.card-actions {
    display: flex;
    gap: 1em;
    margin: 18px auto;
    width: max-content;
}

.card-actions button {
    padding: 8px 24px;
    background-color: #11C3EA;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: .8em;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .card {
        height: 500px;
        width: 100%;
    }
}
.answer-input {
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid #151723;
    width: auto;
    display: block;
    transition: all 0.3s;
  }
