.deck-list {
  
    margin: 5% 0 5% 0%;
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr);
  }
  .deck-card {
    width: 20vw;
    height: auto;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 2%;
  }
  
  .deck-card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  
  .deck-card::before {
    content: '';
    position: absolute;
    width: 20vw;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .deck-card::after {
    content: '';
    position: absolute;
    background: #363842;
    ;
    inset: 5px;
    border-radius: 15px;
  }  

  .btn-remove {
    border-radius: 6px;
    border-style: none;
    padding: 6px;
    color: #fff;
    background-color: #cf1111;
    margin: 5px;
}
.btn-edit {
    border-radius: 6px;
    border-style: none;
    padding: 6px;
    color: #fff;
    background-color: rgb(62, 193, 244);
    margin: 5px;
}