.card-list {
  margin: 5% 0 5% 0%;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  --border-radius: 0.75rem;
  /* width: 20vw; */
  /* height: 20vh; */
  cursor: pointer;
  border-radius: var(--border-radius);
  /* background: #f1f1f3; */
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  /* padding: 5%; */
  overflow: hidden;
  color: #151723;
}
.card-content {
  word-break: true; 
  /* height:75%; */
  padding: 0 5% 7% 5%;
  white-space: pre-wrap;
  overflow: auto;
}
.buttons-div button {
  border-radius: 12px;
  font-size: 1rem;
  padding: 1rem 3rem;
  color: #333;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  background-color: transparent;
}

.buttons-div button:hover {
  box-shadow: none;
  color: white;

}