#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primColor: "#151723";
  --secColor: "#363842";
  --textWhite: "#ffffff";
  --accColor: "#FAD97F";
}


/* DecksPage */
.btnTheme,
.buttons-div button {
  margin: 2%;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #333;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  background-color: transparent;
}

.btnTheme:hover,
.buttons-div button:hover {
  box-shadow: none;
  color: white;
}

.cardTheme {
  margin: 5%;
  background-image: linear-gradient(
    90.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  color: white;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;

  font-weight: 500;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnTheme:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

.cardTheme h3 {
  font-size: 1.4em;
}

@media (max-width: 768px) {
  .buttons-div button {
    padding: 0 2.6rem;
  }
}

/* DeckPage */
.card-list {
  margin: 5% 0 5% 0%;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(2, 1fr);
}

.card-content {
  word-break: true;
  /* height:75%; */
  padding: 0 5% 7% 5%;
  white-space: pre-wrap;
  overflow: auto;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
}
