#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primColor: '#151723';
  --secColor: '#363842';
  --textWhite: '#ffffff';
  --accColor: '#FAD97F'
}
/* DecksPage */
.buttons-div button {
  margin: 5%;
  background-image: linear-gradient(90.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons-div button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .buttons-div button {
    padding: 0 2.6rem;
  }
}
.deck-list {
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(3, 1fr);
}
.deck-card {
  width: 20vw;
  height: auto;
  /* background: #363842; */
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin: 2%;
}

.deck-card h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
}

.deck-card::before {
  content: '';
  position: absolute;
  width: 20vw;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.deck-card::after {
  content: '';
  position: absolute;
  background: #363842;
  ;
  inset: 5px;
  border-radius: 15px;
}  

/* DeckPage */
.card-list {
  margin: 5% 0 5% 0%;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  --border-radius: 0.75rem;
  /* width: 20vw; */
  height: 20vh;
  cursor: pointer;
  border-radius: var(--border-radius);
  /* background: #f1f1f3; */
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  padding: 5%;
  overflow: hidden;
  color: #151723;
}
.card-content {
  word-break: true; 
  margin-bottom: 5;
  height:75%;
  white-space: pre-wrap;
  overflow: auto;
}
