#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primColor: "#151723";
  --secColor: "#363842";
  --textWhite: "#ffffff";
  --accColor: "#FAD97F";
}

.addCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.addCard :nth-child(n) {
  width: 30%;
}

.addCard input {
  text-align: center;
}

.addCard :nth-child(7) {
  transition: 0.5s;
  border-radius: 8px;
  margin-top: 10px;
  width: 10%;
  background-image: linear-gradient(
    90.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  color: white;
}

/* DecksPage */
.btnTheme,
.buttons-div button {
  margin: 2%;
  border-radius: 12px;
  font-size: 1.5rem;
  width: 10rem;
  color: #333;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  background-color: transparent;
}

.btnTheme:hover,
.buttons-div button:hover {
  box-shadow: none;
  color: white;
}

.cardTheme {
  margin: 5%;
  background-image: linear-gradient(
    90.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  color: white;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;

  font-weight: 500;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnTheme:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (max-width: 768px) {
  .buttons-div button {
    padding: 0 2.6rem;
  }
}

.deck-list {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .deck-list {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }
}

.deck-card {
  width: 20vw;
  height: auto;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 15px;
}

.deck-card > * {
  z-index: 1;
}

.deck-card h2 {
  color: white;
}

/* .deck-card::before {
  content: "";
  position: absolute;
  width: 20vw;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.deck-card::after {
  content: "";
  position: absolute;
  background: #363842;
  inset: 5px;
  border-radius: 15px;
} */

/* DeckPage */
.card-list {
  margin: 5% 0 5% 0%;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  --border-radius: 0.75rem;
  border-radius: var(--border-radius);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  overflow: hidden;
  color: #151723;
}
.card-content {
  word-break: true;
  /* height:75%; */
  padding: 0 5% 7% 5%;
  white-space: pre-wrap;
  overflow: auto;
}

/* Model */
/* .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
} */
.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table-column;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 5%;
  z-index: 999;
}
.modalContainer input {
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  border: 1px solid #151723;
  width: auto;
  display: block;
  transition: all 0.3s;
}
.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}
.btnContainer {
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
}
