@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body{
  background-color: #151723;
  /* color:white; */
  font-family: 'Inter', sans-serif;
}

nav{
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1;
  gap: 1em;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  /* color: white; */
  text-decoration: none;
  font-size: 2rem;
  font-weight: 200;
}

nav > a:hover{
  color: #FAD97F  ;
}

.fa-user{
  color: #11C3EA;
  font-size: 2rem;
}

.fa-solid{
  color: #11C3EA;
  font-size: 1.5rem;
  opacity: .7;
}

.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.study-quota{
  background-color: #363842;
  font-size: 1.2rem;
  border-left: #11C3EA 4px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;
  padding: 1rem;
}

.study-quota > a{
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  background-color: #11C3EA;
  text-decoration: none;
  color:#333;
  font-size: 1rem;
  font-weight: 600;
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  margin: 5px;
  align-self: flex-end;
}


.quota-title{
  font-size: 1.2rem;
  font-weight: 700;
  color: #11C3EA;
}

.streak-count{
  font-size: 1.2rem;
  color: #11C3EA;
}

.quota-block1{
  margin: 1rem;
  display: flex;
  height: 12rem;
  width: 14rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.quota-block1 > img{
  width: 8rem;
}

.quota-block2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 1rem;
  width: 30rem;
}

.reviews{
  margin-right: 1rem;

}

.review-color{
  color: #eeb123;
}

.learn-color{
  color: #12EA1A;
}

.block-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;

}

.review{
  width: 45%;
  border-left: #eeb123 4px solid;
  background-color: #363842;
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1rem;
}

.review > a{
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  background-color: #eeb123;
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
  font-weight: 600;
  width: 9rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  margin: 5px;
  align-self: flex-end;
}

.learn{
  width: 45%;
  border-left: #12EA1A 4px solid;
  background-color: #363842;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 1rem;
}

.learn > a{
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
  background-color: #12EA1A;
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
  width: 5rem;
  height: 2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  margin: 5px;
  align-self: flex-end;
}
